{{#if model.immature}}
<h4>확정 예정 블록</h4>

<div class="table-responsive">
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>블록번호</th>
        <th>블록Hash</th>
        <th>발견시간</th>
        <th>작업비율</th>
        <th>보상</th>
      </tr>
    </thead>
    <tbody>
      {{#each model.immature as |block|}}
        {{partial "blocks/block"}}
      {{/each}}
    </tbody>
  </table>
</div>
{{else}}
<h3>확정 예정 블록 없음</h3>
{{/if}}
