<div class="container">
   <br />
   <p>이 풀을 이용하기 위해서는 별도의 회원가입이 필요 없습니다.</p>
   <p>지갑을 먼저 만들고 생성된 지갑 주소를 회원가입 대신 개인 식별자로 사용합니다.</p>
   <p>이더소셜코인(ESC) 지갑이 없는 경우&nbsp;<a id="ember3052" class="ember-view" href="https://escwallet-kr.gonsmine.com/">여기서 지갑을 생성하실 수 있습니다.</a></p>
   <p>이 도움말에서는 이더리움 채굴에 가장 많이 사용하는 "클레이모어 듀얼마이너"와 "이더 마이너" 프로그램만 소개합니다.</p>
   <p>&nbsp;</p>
   <h4><strong>클레이모어 듀얼마이너 설치</strong></h4>
   <p>가장 많이 알려진 채굴 프로그램으로 개발자 수수료 1~3%가 발생됩니다.</p>
   <p>다운로드:&nbsp;<a href="https://bitcointalk.org/index.php?topic=1433925.0" target="_blank" rel="nofollow noopener">Claymore dual miner v11.0 (윈도우용)</a></p>
   <p class="lead"><code>EthDcrMiner64.exe -epool mineesc.com:포트번호 -esm 0 -ewal 지갑주소 -eworker 워커명 -allcoins 1 -allpools 1</code></p>
   <dl class="dl-horizontal">
      <dt>포트번호</dt>
      <dd>채굴 풀 서버의 포트번호 입니다. 풀과 채굴기를 연결할 때 씁니다<br /><strong>예: <a href="https://mineesc.com/#/help/port" target="_blank">포트 번호는 여기를 참고하세요</a></strong></dd>
      <dt>지갑주소</dt>
      <dd>지갑에서 생성된 이더소셜코인(ESC) 지갑주소를 입력합니다. 채굴이 진행되면 이 주소로 자동 지급합니다.<br /><strong>예:</strong> <code>0xd34699FD152fe38CAacD3C096F6abb1cd79e88b2.</code></dd>
      <dt>워커명</dt>
      <dd>각각의 채굴기를 구분하기 위한 이름입니다. 영어, 숫자, 언더바(_), 마이너스(-) 기호를 조합하여 임의로 만들면됩니다. (7자 이내)<br /><strong>예:</strong><code>&nbsp;worker01</code></dd>
   </dl>
   <p class="lead"><strong>전체 예시:</strong><br /><code>EthDcrMiner64.exe -epool mineesc.com:8008 -esm 0 -ewal 0xd34699FD152fe38CAacD3C096F6abb1cd79e88b2 -eworker worker01 -allcoins 1 -allpools 1</code></p>
   <p>예시를 참조하여 배치 파일을 만드시기 바라며 오류 발생시 띄어쓰기가 틀리지 않았는지 확인하세요.<br />클레이모어 듀얼마이너에 대한 자세한 내용은&nbsp;<a href="https://bitcointalk.org/index.php?topic=1433925.0" target="_blank" rel="nofollow noopener">이곳</a>을 참고하세요.</p>
   <p>&nbsp;</p>
   <h4><strong>이더 마이너 설치</strong></h4>
   <p>소스가 공개되어 있는 무료 채굴 프로그램입니다.</p>
   <p>다운로드:&nbsp;<a href="https://github.com/ethereum-mining/ethminer/releases" target="_blank" rel="nofollow noopener">ethminer 0.13.0 (윈도우용)</a></p>
   <p class="lead"><code>ethminer.exe -F http://mineesc.com:포트번호/지갑주소/워커명</code></p>
   <dl class="dl-horizontal">
      <dt>포트번호</dt>
      <dd>채굴 풀 서버의 포트번호 입니다. 풀과 채굴기를 연결할 때 씁니다<br /><strong>예: <a href="https://mineesc.com/#/help/port" target="_blank">포트 번호는 여기를 참고하세요</a></strong></dd>
      <dt>지갑주소</dt>
      <dd>자신이 사용하고 있는 이더소셜코인(ESC) 지갑주소. 채굴이 진행되면 이 주소로 자동 지급합니다.<br /><strong>예:</strong> <code>0xd34699FD152fe38CAacD3C096F6abb1cd79e88b2.</code></dd>
      <dt>워커명</dt>
      <dd>각각의 채굴기를 구분하기 위한 이름입니다. 영어, 숫자, 언더바(_), 마이너스(-) 기호를 조합하여 임의로 만드시면됩니다. (7자 이내)<br /><strong>예:</strong> <code>worker01</code></dd>
   </dl>
   <p class="lead"><strong>전체 예시:</strong><br /><code>ethminer.exe -F http://mineesc.com:8888/0xd34699FD152fe38CAacD3C096F6abb1cd79e88b2/worker01 -G --farm-recheck 200</code><br /><br /></p>
   <p>예시를 참조하여 배치 파일을 만드시기 바라며 오류 발생시 띄어쓰기가 틀리지 않았는지 확인하세요.<br />이더 마이너에 대한 자세한 내용은&nbsp;<a href="https://github.com/ethereum-mining/ethminer" target="_blank" rel="nofollow noopener">이곳</a>을 참고하세요.</p>
</div>
