<div class="container">
   <br />
   <h4>채굴 규모에 따라 포트번호 설정을 하시면 reject가 나올 확률이 적어집니다.</h4>
   <h4>각 포트 번호는 서로 다른 difficulty 설정을 가지고 있습니다</h4>
   <h4>&nbsp;</h4>
   <h4><strong>소규모 채굴(워커당 ~150 MH/s)</strong></h4>
   <h4><li>http 포트번호:&nbsp;<strong><code>8888</code></strong></li></h4>
   <h4><li>Stratum 포트번호:&nbsp;<strong><code>8008</code></strong></li></h4>
   <hr/>
   <h4><strong>중규모 채굴(워커당 150~800 MH/s)</strong></h4>
   <h4><li>http 포트번호:&nbsp;<strong><code>8899</code></strong></li></h4>
   <h4><li>Stratum 포트번호:&nbsp;<strong><code>8009</code></strong></li></h4>
   <hr/>
   <h4><strong>대규모 채굴(워커당 800~ MH/s)</strong></h4>
   <h4><li>http 포트번호&nbsp;<strong><code>9999</code></strong></li></h4>
   <h4><li>Stratum 포트번호&nbsp;<strong><code>9009</code></strong></li></h4>
</div>
